body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header {
  background-color: #f8f8f8;
  padding: 20px 0;
  margin-bottom: 3.5em;
}

#logo {
  height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

#carousel {
  /* Add your carousel styles here */
}

#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
}

.recipe {
  flex: 0 0 calc(33.33% - 40px);
  box-sizing: border-box;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.recipe img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.recipe h2,
.recipe p {
  margin: 10px 0;
}

/* Responsive design */
@media (max-width: 1000px) {
  .recipe {
    flex: 0 0 calc(50% - 40px);
  }
}

@media (max-width: 700px) {
  .recipe {
    flex: 0 0 calc(100% - 40px);
  }
}

.show-more-btn {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px;
  color: #6191c4;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.show-more-btn:hover {
  color: #92c0b1;
}

#subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/kitchen.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  min-height: 400px; /* Adjust this value as needed */
}

@media (max-width: 600px) {
  #subscribe {
    flex-direction: column;
  }
}

.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.recipe-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-details p {
  margin-bottom: 10px;
}

.recipe-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.recipe-details ul,
.recipe-details ol {
  margin: 0;
  padding: 0;
  text-align: left;
}

.recipe-details li {
  margin-bottom: 5px;
}

#subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("./img/kitchen.jpg");
  background-size: cover;
  padding: 20px;
  min-height: 300px; /* Adjust this value as needed */
  margin-bottom: 40px; /* Add margin bottom for white space */
}

@media (max-width: 600px) {
  #subscribe {
    flex-direction: column;
  }
}

#subscribe input {
  flex-grow: 1;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

#subscribe button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
}

#subscribe button:hover {
  background-color: #0056b3;
}

/* Footer CSS */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}
