body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

header {
  background-color: #f0ebeb;
  padding: 20px 0;
  margin-bottom: 3.5em;
}

.narrow-header {
  position: sticky;
  top: 0;
  background-color: #cadbc3;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.narrow-header a {
  display: inline-block;
  justify-content: center;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
}

#logo {
  height: 50px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
}

/* Width of carousel */
#carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
}

/* Height of carousel */
#slide-container {
  width: 80%;
  height: 480px;
  object-fit: contain;
  max-height: 100%;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  min-height: 200px;
}

.slides {
  display: block;
}

/* Style of arrows */
.arrow {
  color: white;
  font-size: 26px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 16px;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.arrow:hover {
  cursor: pointer;
  background-color: var(--transparent-grey);
}

#next {
  left: 100%;
  transform: translate(-100%, -50%);
  border-radius: 4px 0px 0px 4px;
}

#previous {
  border-radius: 0px 4px 4px 0px;
}

#text-bar {
  background-color: var(--transparent-grey);
  width: 100%;
  height: 36px;
  position: absolute;
  top: 100%;
  transform: translate(0%, -100%);
  text-align: center;
  height: 36px;
  line-height: 36px;
}

#place {
  padding: 0px;
  margin: 0px;
  color: white;
  position: relative;
  display: inline-block;
}

#dotsContainer {
  width: 100%;
  height: 20px;
  text-align: center;
}

.dots {
  width: 8px;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  display: inline-block;
  margin: 8px 2px;
}

.dots:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.4);
}

.activeDot {
  background-color: rgba(0, 0, 0, 0.6);
}

#recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 20px;
}

.recipe {
  flex: 0 0 calc(33.33% - 40px);
  box-sizing: border-box;
  margin: 20px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.recipe img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.recipe h2,
.recipe p {
  margin: 10px 0;
}

#privacy {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
}

/* Responsive design */
@media (max-width: 1000px) {
  .recipe {
    flex: 0 0 calc(50% - 40px);
  }
}

@media (max-width: 700px) {
  .recipe {
    flex: 0 0 calc(100% - 40px);
  }
}

.show-more-btn {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px;
  color: #6191c4;
  text-decoration: underline;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
}

.show-more-btn:hover {
  color: #92c0b1;
}

#subscribe-form {
  padding: 0.5em;
}

#subscribe-form input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

#subscribe-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
}

#subscribe-form button:hover {
  background-color: #0056b3;
}

#subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./img/kitchen.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  min-height: 400px; /* Adjust this value as needed */
}

@media (max-width: 600px) {
  #subscribe {
    flex-direction: column;
  }
}

.recipe-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.recipe-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.recipe-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.recipe-details p {
  margin-bottom: 10px;
}

.recipe-details h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.recipe-details ul,
.recipe-details ol {
  margin: 0;
  padding: 0;
  text-align: left;
}

.recipe-details li {
  margin-bottom: 5px;
}

#subscribe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("./img/kitchen.jpg");
  background-size: cover;
  padding: 20px;
  min-height: 300px; /* Adjust this value as needed */
  margin-bottom: 40px; /* Add margin bottom for white space */
}

@media (max-width: 600px) {
  #subscribe {
    flex-direction: column;
  }
}

#contactForm label {
  display: block;
  font-family: "Aleo";
  padding-top: 1em;
  font-size: 1.25em;
}

#contactForm input,
select,
textarea {
  border-radius: 2px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: "Aleo";
  width: 500px;
  padding: 8px;
}

#contactFormtextarea {
  height: 250px;
}

#contactForm button {
  height: 50px;
  background: green;
  color: white;
  border: 2px solid darkgreen;
  font-size: 1.25em;
  font-family: "Aleo";
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}

#subscribe input {
  flex-grow: 1;
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

#subscribe button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
}

#subscribe button:hover {
  background-color: #0056b3;
}

#contactForm {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: auto 2em;
}

#contactForm input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

#contactForm button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
}

/* Footer CSS */
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  margin-top: auto;
}
